@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
}

@font-face {
  font-family: "TenorSans";
  src: url("/fonts/TenorSans-Regular.ttf") format("truetype");
}

.logo {
	text-decoration: none;
	color: var(--h1-color);
	font-family: "TenorSans";
}

.logo-title {
	font-size: 48px;
	font-weight: bold;
}

.logo-subtitle {
	font-size: 16px;
	margin-top: -12px;
	margin-left: 2px;
}

:root {
	--font-weight: 200;
	--font-family: "Roboto";
}

h1,
h2 {
	font-weight: 400;
	font-family: "TenorSans";
}