<!doctype html>
<html lang="{{ locale }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<meta name="description" content="{{ meta_description }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{% css %}{% include "public/css/pico.classless.min.css" %}{% endcss %}
		{% css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<header>
			<nav class="container-fluid">
				<ul>
				<li>
					<a href="{{ '/' | locale_url }}" class="logo">
						<div class="logo-title">{{ site_title }}</div>
						<div class="logo-subtitle">{{ site_subtitle }}</div></a>
					</li>
				</ul>
				<ul>
				{%- for entry in navigation %}
					{% set page_url = "/" + locale + "/" + entry.slug + "/" %}
					<li><a href="{{ page_url }}"{% if page_url == page.url %} aria-current="page"{% endif %}>{{ entry.label[locale] }}</a></li>
				{%- endfor %}
				</ul>
				<ul>
				{%- for lang in metadata.languages %}
					<li><a href="/{{ lang.code }}/" class="lang-link" {% if lang.code == locale %} aria-current="language"{% endif %}><img src="/img/language-{{ lang.code }}.png" style="height: 28px" /></a></li>
				{%- endfor %}
				</ul>
			</nav>
			
		</header>

		<main>
			{{ content | safe }}
		</main>

		<footer>
			<nav>
          <ul>
            <li>
              <small> {{ project_of_tfm }}, 2023
							</small>
						</li>
					</ul>
				</nav>
		</footer>
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>
