---
layout: layouts/base.njk
---
{{ content | safe }}
{{ header }}
{% block header %}{% endblock %}
<main>
	<section>
		<h2>{{ what_is_montelibero.header }}</h2>
		{{ what_is_montelibero.text | md | safe }}
	</section>

	<section>
		<h2>{{ population.header }}</h2>
		{{ population.text | md | safe }}
	</section>

	<section>
		<h2>{{ growth.header }}</h2>
		{{ growth.text | md | safe }}
	</section>

	<section>
		<h2>{{ tokenomics.header }}</h2>
		{{ tokenomics.text | md | safe }}
	</section>

	<section>
		<h2>{{ eurmtl.header }}</h2>
		{{ eurmtl.text | md | safe }}
	</section>
</main>